{% extends "layout.html" %}

{% block title %}
偏差値計算アプリ
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ulr>
    {% for message in messages %}
        <li class="alert alert-danger">{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form method="post" action="/deviation_value">
    <div class="form-group row">
        <label for="item1" class="col-2 col-form-label col-form-label-lg">テストの平均値</label>
        <div class="col-10">
            <input type="number" name="mu" class="form-control form-control-lg" id=item1>
        </div>
    </div>
    <div class="form-group row">
        <label for="item2" class="col-2 col-form-label col-form-label-lg">テストの標準偏差</label>
        <div class="col-10">
            <input type="number" name="sd" class="form-control form-control-lg" id=item2>
        </div>
    </div>
    <div class="form-group row">
        <label for="item3" class="col-2 col-form-label col-form-label-lg">あなたの点数</label>
        <div class="col-10">
            <input type="number" name="sample" class="form-control form-control-lg" id=item3>
        </div>
    </div>
    <input input type="submit" class="p-3 btn btn-primary btn-block" value="偏差値を計算する" style="font-size:1.5vw">
</form>

{% if post %} 
<br><br>
<div class="display-3" style="color:black"> <span style="font-weight: 900;">
    結果
</span></div>
<br><h2>あなたの偏差値は {{ value }} で、上位 {{ percent }} %です。</h2><br>
<div style="text-align: center">
<img src="data:image/png;base64,{{ img }}" style="width: 49.8%;"/>
<img src="data:image/png;base64,{{ img2 }}" style="width: 49.8%;"/>
</div>
<br><br>
{% endif %}

{% endblock %}
