{% extends "layout.html" %}

{% block title %}
物体検知アプリ
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ulr>
    {% for message in messages %}
        <li class="alert alert-danger">{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="/image_detect" method="post" enctype="multipart/form-data">
    <div class="custom-file">
        <input type="file" class="custom-file-input" name="image" accept="image/png, image/jpeg" id="image_form" >
        <label class="custom-file-label" id = "image_form">
                ファイルを選択or(ドラッグ&ドロップ)
        </label><br><br>
    </div>
    <input input type="submit" class="p-3 btn btn-primary btn-block" value="物体検知" style="font-size:1.5vw">
</form>

{% if post %}
<br><br>
<div class="display-3" style="color:black"> 
    <span style="font-weight: 900;">結果</span>
</div>
<div class="row">
    <img src="{{ content }}" class="col-6 img-fluid">
    <img src="{{ content2 }}" class="col-6 img-fluid">
</div>
{% endif %}
{% endblock %}
