{% extends "layout.html" %}

{% block title %}
home
{% endblock %}

{% block content %}
<h2>アプリ選択</h2>
<form action="/deviation_value" method="get">
        <input type="submit" value='偏差値計算アプリ'>
    </form>
    <form action="/linear" method="get">
        <input type="submit" value='単回帰分析シミュレーションアプリ'>
    </form>
    <form action="/image_detect" method="get">
        <input type="submit" value='物体検知アプリ'>
    </form>
    <form action="/image_generate" method="get">
        <input type="submit" value='画像生成アプリ'>
    </form>
{% endblock %}