body{
    background-color: aliceblue;
    color: black;
}
#image_form {
    height: 400px;
    font-size: 200%;
    text-align: center;
    padding:160px 0;
    background-color: white;
    border: dashed 10px black;
}
.custom-file-label::after{
    visibility: hidden;
}