{% extends "layout.html" %}

{% block content %}
<div class="container">
    
    <h1 style="color:blue"> 1 テキストのデザイン </h1><br>
    <h2 style="color:deepskyblue"> 1-1 テキストの大きさ </h2><hr>
    <div class="display-1"> FlaskでWebアプリ作成 </div>
    <div class="display-2"> FlaskでWebアプリ作成 </div>
    <div class="display-3"> FlaskでWebアプリ作成 </div>
    <div class="display-4"> FlaskでWebアプリ作成 </div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 1-2 テキストの位置 </h2><hr>
    <div class="text-right"> ここに内容だよ </div>
    <div class="text-center"> ここに内容だよ </div>
    <div class="text-left"> ここに内容だよ </div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 1-3 テキストのスタイル </h2><hr>
    <div class="font-weight-normal"> ここに内容だよ </div>
    <div class="font-weight-bold"> ここに内容だよ </div>
    <div class="font-weight-light"> ここに内容だよ </div>
    <div class="font-lowercace"> ここに内容だよ </div>
    <div class="font-italic"> ここに内容だよ </div>
    <div class="text-uppercace"> ここに内容だよ </div>
    <div class="text-capitalize"> ここに内容だよ </div>
    <div class="text-monospace"> ここに内容だよ </div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 1-4 テキストの色 </h2><hr>
    <div class="text-primary"> ここに内容だよ </div>
    <div class="text-secondary"> ここに内容だよ </div>
    <div class="text-success"> ここに内容だよ </div>
    <div class="text-danger"> ここに内容だよ </div>
    <div class="text-warning"> ここに内容だよ </div>
    <div class="text-info"> ここに内容だよ </div>
    <div class="text-light"> ここに内容だよ </div>
    <div class="text-dark"> ここに内容だよ </div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 1-5テキスト背景の色 </h2><hr>
    <div style="border: 1px dotted;" class="bg-primary"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="bg-secondary"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="bg-success"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="bg-danger"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="bg-warning"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="bg-info"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="bg-light"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="bg-dark"> ここに内容だよ </div>
    
    
    
    <br><br><br>
    <h1 style="color:blue"> 2 表示のデザイン </h1><br>
    <h2 style="color:deepskyblue"> 2-1 マージン(m) </h2><hr>
    <div style="border: 1px dotted;" class="m-1"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="m-2"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="m-3"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="m-4"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="m-5"> ここに内容だよ </div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 2-2 パディング(p) </h2><hr>
    <div style="border: 1px dotted;" class="p-1"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="p-2"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="p-3"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="p-4"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="p-5"> ここに内容だよ </div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 2-3 横幅の割合(w) </h2><hr>
    <div style="border: 1px dotted;" class="w-25"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="w-50"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="w-75"> ここに内容だよ </div>
    <div style="border: 1px dotted;" class="w-100"> ここに内容だよ </div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 2-4 余白の位置指定 </h2><hr>
    <div style="border: 1px dotted;" class="mt-5"> 上にマージン </div>
    <div style="border: 1px dotted;" class="mb-5"> 下にマージン </div>
    <div style="border: 1px dotted;" class="ml-5"> 左にマージン </div>
    <div style="border: 1px dotted;" class="mr-5"> 右にマージン </div>
    <div style="border: 1px dotted;" class="my-5"> 上下にマージン </div>
    <div style="border: 1px dotted;" class="mx-5"> 左右にマージン </div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 2-5 グリッドシステム </h2><hr>
    <div class="row">
        <div style="border: 1px dotted;" class="col">1</div>
    </div>
    <div class="row">
        <div style="border: 1px dotted;" class="col">1</div>
        <div style="border: 1px dotted;" class="col">2</div>
    </div>
    <div class="row">
        <div style="border: 1px dotted;" class="col">1</div>
        <div style="border: 1px dotted;" class="col">2</div>
        <div style="border: 1px dotted;" class="col">3</div>
    </div>
    
    <div class="row">
        <div style="border: 1px dotted;" class="col-7">1</div>
        <div style="border: 1px dotted;" class="col-5">2</div>
    </div>
    <div class="my-5 row">
        <div style="border: 1px dotted;" class="col-7">1</div>
        <div style="border: 1px dotted;" class="col-5">2</div>
    </div>
    
    <br><br><br>
    <h1 style="color:blue"> 3 ボタンのデザイン </h1><br>
    <h2 style="color:deepskyblue"> 3-1 通常のボタン </h2><hr>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    
    <br><br>
    <h2 style="color:deepskyblue"> 3-2 アウトラインボタン </h2><hr>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
    
    <br><br>
    <h2 style="color:deepskyblue"> 3-3 ボタンサイズ </h2><hr>
    <button type="button" class="btn btn-primary btn-sm">Large button</button>
    <button type="button" class="btn btn-primary btn">Large button</button>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
    
    <br><br>
    <h2 style="color:deepskyblue"> 3-4 ボタンブロック </h2><hr>
    <button class="btn btn-primary btn-block">Primary</button>
    <button type="button" class="btn btn-secondary btn-block">Secondary</button>
    <button type="button" class="btn btn-success btn-block">Success</button>
    <button type="button" class="btn btn-danger btn-block">Danger</button>
    <button type="button" class="btn btn-warning btn-block">Warning</button>
    <button type="button" class="btn btn-info btn-block">Info</button>
    <button type="button" class="btn btn-light btn-block">Light</button>
    <button type="button" class="btn btn-dark btn-block">Dark</button>
    
    
    
    <br><br><br>
    <h1 style="color:blue"> 4 Formのデザイン </h1><br>
    <h2 style="color:deepskyblue"> 4-1 Formのデザイン </h2><hr>
    <form>
        <div class="form-group">
            <input type="text" class="form-control">
            <input type="text" class="form-control" id="name" placeholder="テキストの入力">
            <label for="item">ラベル</label>
            <input type="text" class="form-control" id="item" placeholder="テキストの入力">
        </div>
    </form>
    
    <form>
        <div class="form-group row">
            <div class="col-6">
                <label for="item1">ラベル1</label>
                <input type="text" class="form-control" id="item1" placeholder="テキストの入力">
            </div>
            <div class="col-3">
                <label for="item2">ラベル2</label>
                <input type="text" class="form-control" id="item2" placeholder="テキストの入力">
            </div>
            <div class="col-3">
                <label for="item3">ラベル3</label>
                <input type="text" class="form-control" id="item3" placeholder="テキストの入力">
            </div>
        </div>
    </form>
    
    <form>
        <div class="form-group row">
            <div class="col-6">
                <input type="text" class="form-control" id="item1" placeholder="テキストの入力">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="item2" placeholder="テキストの入力">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">送信</button>
            </div>
        </div>
    </form>
    
    <form>
        <div class="form-group row">
            <div class="col-6">
                <label for="item1">ラベル1</label>
                <input type="text" class="form-control" id="item1" placeholder="テキストの入力">
            </div>
            <div class="col-6">
                <label for="item2">ラベル2</label>
                <input type="text" class="form-control" id="item2" placeholder="テキストの入力">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">送信</button>
    </form>
    
    <br><br>
    <h2 style="color:deepskyblue"> 4-2 alert </h2><hr>
    <div class="alert">警告</div>
    <div class="alert alert-primary">警告</div>
    <div class="alert alert-secondary">警告</div>
    <div class="alert alert-success">警告</div>
    <div class="alert alert-danger">警告</div>
    <div class="alert alert-warning">警告</div>
    <div class="alert alert-info">警告</div>
    <div class="alert alert-light">警告</div>
    <div class="alert alert-dark">警告</div>
    
    <br><br>
    <h2 style="color:deepskyblue"> 4-3 さまざまな入力 </h2><hr>    
     <form>
        <div class="form-group">
            <input type="file" class="form-control-file">
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" accept="image/png, image/jpeg">
                <label class="custom-file-label"> ファイルを選択or(ドラッグ&ドロップ)</label><br><br>
            </div>
    </form>
         
    <form>
      <div class="form-group">
        <label for="item1">Example select</label>
        <select class="form-control" id="item1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="item2">Example multiple select</label>
        <select multiple class="form-control" id="item2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="item3">Example textarea</label>
        <textarea class="form-control" id="item3" rows="3"></textarea>
      </div>
    </form>
    
    <form>
        <div class="form-group">
        <label class="control-label">設問1</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1a" checked>
            <label class="form-check-label" for="check1a">選択肢1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1b">
            <label class="form-check-label" for="check1b">選択肢2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1c">
            <label class="form-check-label" for="check1c">選択肢3</label>
        </div>
        </div>
    </form>
        
      <form>
          <div class="form-group">
        <label class="control-label">設問1</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Default radio
              </label>
            </div>
                <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Default radio
              </label>
            </div>
                <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Default radio
              </label>
            </div>
              </div>
      </form>
    
    <br><br><br>
    <h1 style="color:blue"> 5 さまざまなデザイン </h1><br>
    <h2 style="color:deepskyblue"> 5-1 リストのデザイン </h2><hr>
    <ul class="my-5 list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
         
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
         
    <br><br>
    <h2 style="color:deepskyblue"> 5-2 テーブルのデザイン </h2><hr>
      
    <table class="my-5 table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
         
    <table class="my-5  table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
         
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
          <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
          <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
         
    <br><br>
    <h2 style="color:deepskyblue"> 5-3 カードのデザイン </h2><hr>
    <div class="card">
      <h5 class="card-header">カードのヘッダー</h5>
      <div class="card-body">
        <h5 class="card-title">カードのタイトル</h5>
        <p class="card-text">カードのテキスト</p>
      </div>
        <div class="card-footer text-muted">カードのフッター</div>
    </div>
    
         
    <br><br>
    <h2 style="color:deepskyblue"> 5-4 tabのデザイン </h2><hr>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#first" data-toggle="tab" role="tab">First</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#second" data-toggle="tab" role="tab">second</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="first" role="tabpanel">
            <br>1つ目のタブの内容
        </div>
        <div class="tab-pane fade" id="second" role="tabpanel">
            <br>2つ目のタブの内容
        </div>
    </div>
         
    <br><br>
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#first2" data-toggle="tab" role="tab">First</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#second2" data-toggle="tab" role="tab">second</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="first2" role="tabpanel">
            <br>1つ目のタブの内容
        </div>
        <div class="tab-pane fade" id="second2" role="tabpanel">
            <br>2つ目のタブの内容
        </div>
    </div>
    
    <br><br>
    <ul class="nav nav-tabs nav-fill nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#first3" data-toggle="tab" role="tab">First</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#second3" data-toggle="tab" role="tab">second</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="first3" role="tabpanel">
            <br>1つ目のタブの内容
        </div>
        <div class="tab-pane fade" id="second3" role="tabpanel">
            <br>2つ目のタブの内容
        </div>
    </div>
    
    <br><br><br>

</div>
{% endblock %}